/* link-button.css */
.registerButton {
    -fx-background-color: transparent; /* Transparent background */
    -fx-border-color: transparent; /* No border */
    -fx-text-fill: #0d0d0c; /* Text color */
    -fx-font-family: Arial, sans-serif; /* Font style */
    -fx-font-size: 14px; /* Font size */
    -fx-font-weight: bold; /* Bold text */
    -fx-cursor: hand; /* Pointer cursor on hover */
    -fx-underline: true; /* Underline text */
}

/* Hover effect */
.registerButton:hover {
    -fx-text-fill: darkgreen; /* Darker color on hover */
    -fx-underline: false; /* Remove underline on hover */
}
